<section class="section">
    <div class="card p-4 mb-0" style="border: none;">
        <!-- ======= Title ======= -->
        <small class="card-body p-0">
            <div class="pagetitle">
                <h1><i class="fa-solid fa-person-digging"></i>&ensp;Giải Trình Công</h1>
                <nav>
                    <ol class="breadcrumb mt-1">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active">Giải Trình Công</li>
                    </ol>
                </nav>
            </div>
            <hr>
        </small>
        <!-- End Title -->

        <!-- ======= Body ======= -->
        <div class="card-body p-0">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 text-center p-0">
                    <h5 class="fw-bold" style="color: #012970;">UPLOAD FILE GIẢI TRÌNH CÔNG TẠI ĐÂY</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 d-flex align-items-center justify-content-center p-0" style="height: 10vh; border: 3px solid #012970; cursor: pointer;" ng-click="triggerFileInput()">
                    <span class="text-dark">Click vào đây để tải tệp lên (.xls, .xlsx, .xlsm, .csv)</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-3">
                <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-between p-0">
                    <button class="btn btn-warning btn-sm">Tải file mẫu</button>
                    <button class="btn btn-success btn-sm"
                            ng-disabled="selectedFiles.length == 0"
                            ng-click="start()">Bắt đầu</button>
                    <button class="btn btn-danger btn-sm"
                            ng-disabled="selectedFiles.length == 0"
                            ng-click="removeAllFile()">Xoá hết file</button>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-3" ng-if="selectedFiles.length > 0">
                <div class="col-12 col-md-8 col-lg-6 p-0">
                    <span class="text-dark fw-bold">Danh sách file đã chọn <small>({{selectedFiles.length}} file)</small>: </span>
                    <div ng-repeat="file in selectedFiles track by $index" style="">
                        <i class="fa-solid fa-file-excel text-success"></i>
                        {{ file.name }}
                        <i class="fa-solid fa-square-xmark text-danger" style="cursor: pointer" ng-click="removeFile($index)"></i>
                    </div>
                </div>
            </div>
            <hr ng-if="workdayExplains.length > 0">
            <div class="row d-flex justify-content-center mt-4" ng-if="workdayExplains.length > 0">
                <div class="col-12 col-md-8 col-lg-6 text-center p-0">
                    <h5 class="fw-bold" style="color: #012970;">ĐỐI SOÁT DỮ LIỆU</h5>
                </div>
                <i class="text-primary text-center">
                    <img src="/image/left-click.png" alt="icon" class="icon-class" /> Click 2 lần vào ô cần chỉnh sửa
                </i>
            </div>
            <div class="mt-3 mb-3 table-responsive" id="table" ng-if="workdayExplains.length > 0">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width: 3%;">#</th>
                        <th style="width: 5%;">Mã nhân viên</th>
                        <th style="width: 15%;">Tên nhân viên</th>
                        <th style="width: 5%;">Bộ phận</th>
                        <th style="width: 10%;">Ngày</th>
                        <th style="width: 5%;">Ca</th>
                        <th style="width: 5%;">Chi tiết ca</th>
                        <th style="width: 5%;">Công</th>
                        <th style="width: 5%;">Giờ vào</th>
                        <th style="width: 5%;">Giờ ra</th>
                        <th style="width: 5%;">Số giờ</th>
                        <th style="width: 5%;">Số phút đi muộn</th>
                        <th style="width: 5%;">Số phút về sớm</th>
                        <th style="width: 15%;">Lý do</th>
                        <th style="width: 15%;">Ghi chú</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in workdayExplains" class="text-center">
                        <td>{{ $index + 1 }}</td>

                        <td ng-dblclick="editValue(item, 'staffCode')" ng-if="!item.isEditing.staffCode" ng-click="saveValueIfEditing(item, 'staffCode')">{{ item.staffCode || '' }}</td>
                        <td ng-if="item.isEditing.staffCode"><input ng-model="item.staffCode" ng-blur="saveValue(item, 'staffCode')" /></td>

                        <td ng-dblclick="editValue(item, 'staffName')" ng-if="!item.isEditing.staffName" ng-click="saveValueIfEditing(item, 'staffName')">{{ item.staffName || '' }}</td>
                        <td ng-if="item.isEditing.staffName"><input ng-model="item.staffName" ng-blur="saveValue(item, 'staffName')" /></td>

                        <td ng-dblclick="editValue(item, 'staffPart')" ng-if="!item.isEditing.staffPart" ng-click="saveValueIfEditing(item, 'staffPart')">{{ item.staffPart || '' }}</td>
                        <td ng-if="item.isEditing.staffPart"><input ng-model="item.staffPart" ng-blur="saveValue(item, 'staffPart')" /></td>

                        <td ng-dblclick="editValue(item, 'explainDay')" ng-if="!item.isEditing.explainDay" ng-click="saveValueIfEditing(item, 'explainDay')">{{ getDay(item.explainDay) || '' }}</td>
                        <td ng-if="item.isEditing.explainDay"><input ng-model="item.explainDay" ng-blur="saveValue(item, 'explainDay')" /></td>

                        <td ng-dblclick="editValue(item, 'shift')" ng-if="!item.isEditing.shift" ng-click="saveValueIfEditing(item, 'shift')">{{ item.shift || '' }}</td>
                        <td ng-if="item.isEditing.shift"><input ng-model="item.shift" ng-blur="saveValue(item, 'shift')" /></td>

                        <td ng-dblclick="editValue(item, 'shiftCode')" ng-if="!item.isEditing.shiftCode" ng-click="saveValueIfEditing(item, 'shiftCode')">{{ item.shiftCode || '' }}</td>
                        <td ng-if="item.isEditing.shiftCode"><input ng-model="item.shiftCode" ng-blur="saveValue(item, 'shiftCode')" /></td>

                        <td ng-dblclick="editValue(item, 'workDayCode')" ng-if="!item.isEditing.workDayCode" ng-click="saveValueIfEditing(item, 'workDayCode')">{{ item.workDayCode || '' }}</td>
                        <td ng-if="item.isEditing.workDayCode"><input ng-model="item.workDayCode" ng-blur="saveValue(item, 'workDayCode')" /></td>

                        <td ng-class="{'bg-warning': isLate(item.timeIn)}" ng-dblclick="editValue(item, 'timeIn')" ng-if="!item.isEditing.timeIn" ng-click="saveValueIfEditing(item, 'timeIn')">{{ item.timeIn || '' }}</td>
                        <td ng-if="item.isEditing.timeIn"><input ng-model="item.timeIn" ng-blur="saveValue(item, 'timeIn')" /></td>

                        <td ng-class="{'bg-warning': isEarly(item.timeOut, item.explainDay)}" ng-dblclick="editValue(item, 'timeOut')" ng-if="!item.isEditing.timeOut" ng-click="saveValueIfEditing(item, 'timeOut')">{{ item.timeOut || '' }}</td>
                        <td ng-if="item.isEditing.timeOut"><input ng-model="item.timeOut" ng-blur="saveValue(item, 'timeOut')" /></td>

                        <td ng-dblclick="editValue(item, 'timeCount')" ng-if="!item.isEditing.timeCount" ng-click="saveValueIfEditing(item, 'timeCount')">{{ item.timeCount || '' }}</td>
                        <td ng-if="item.isEditing.timeCount"><input ng-model="item.timeCount" ng-blur="saveValue(item, 'timeCount')" /></td>

                        <td ng-dblclick="editValue(item, 'lateMinutes')" ng-if="!item.isEditing.lateMinutes" ng-click="saveValueIfEditing(item, 'lateMinutes')">{{ item.lateMinutes || '' }}</td>
                        <td ng-if="item.isEditing.lateMinutes"><input ng-model="item.lateMinutes" ng-blur="saveValue(item, 'lateMinutes')" /></td>

                        <td ng-dblclick="editValue(item, 'earlyMinutes')" ng-if="!item.isEditing.earlyMinutes" ng-click="saveValueIfEditing(item, 'earlyMinutes')">{{ item.earlyMinutes || '' }}</td>
                        <td ng-if="item.isEditing.earlyMinutes"><input ng-model="item.earlyMinutes" ng-blur="saveValue(item, 'earlyMinutes')" /></td>

                        <td ng-dblclick="editValue(item, 'reason')" ng-if="!item.isEditing.reason" ng-click="saveValueIfEditing(item, 'reason')">{{ item.reason || '' }}</td>
                        <td ng-if="item.isEditing.reason"><input ng-model="item.reason" ng-blur="saveValue(item, 'reason')" /></td>

                        <td ng-dblclick="editValue(item, 'note')" ng-if="!item.isEditing.note" ng-click="saveValueIfEditing(item, 'note')">{{ item.note || '' }}</td>
                        <td ng-if="item.isEditing.note"><input ng-model="item.note" ng-blur="saveValue(item, 'note')" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3 mb-3" ng-if="workdayExplains.length > 0">
                <button class="btn btn-success btn-sm"
                        ng-disabled="selectedFiles.length == 0"
                        ng-click="export()">Xuất file</button>
            </div>
        </div>
        <!-- End Body -->
    </div>
</section>

<!-- Modal chỉnh sửa -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="staffCode">Mã nhân viên</label>
                    <input type="text" id="staffCode" ng-model="editingItem.staffCode" class="form-control">
                </div>
                <div class="mt-2">
                    <label for="staffName">Tên nhân viên</label>
                    <input type="text" id="staffName" ng-model="editingItem.staffName" class="form-control">
                </div>
                <!-- Thêm các trường chỉnh sửa khác tại đây -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" ng-click="saveChanges()">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>


