<section class="section">
    <div class="card p-4 mb-0" style="border: none;">
        <!-- ======= Title ======= -->
        <small class="card-body p-0">
            <div class="pagetitle">
                <h1><i class="fa-solid fa-not-equal"></i>&ensp;Đối Chiếu Công</h1>
                <nav>
                    <ol class="breadcrumb mt-1">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active">Đối Chiếu Công</li>
                    </ol>
                </nav>
            </div>
            <hr>
        </small>
        <!-- End Title -->

        <!-- ======= Body ======= -->
        <div class="card-body p-0">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center">
                    <h5 class="fw-bold" style="color: #012970;">ĐỐI CHIẾU CÔNG</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-5 col-md-3 col-lg-2 d-flex justify-content-center">
                    <select class="form-select form-select-sm fw-bold text-center" style="border: 3px solid black;"
                            id="month" ng-model="selectedMonth"
                            ng-options="month.value as month.label for month in months" ng-change="getDaysInMonth()">
                    </select>
                </div>
                <div class="col-5 col-md-3 col-lg-2 d-flex justify-content-center">
                    <select class="form-select form-select-sm fw-bold text-center" style="border: 3px solid black;"
                            id="year" ng-model="selectedYear" ng-options="year.value as year.label for year in years"
                            ng-change="getDaysInMonth()">
                    </select>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-lg-6 col-md-8 col-12 no-border-sm" style="border-right: 2px solid #dee2e6;">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8 text-center p-0">
                            <h5 class="fw-bold" style="color: #012970;">FILE DỮ LIỆU HỆ THỐNG</h5>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8 d-flex align-items-center justify-content-center p-0"
                             style="height: 10vh; border: 3px solid #012970; cursor: pointer;"
                             ng-click="triggerSystemFileInput()">
                            <span class="text-dark">Click vào đây để tải tệp lên (.xls, .xlsx, .xlsm, .csv)</span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-3 mb-3">
                        <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-between p-0">
                            <button class="btn btn-success btn-sm"
                                    ng-disabled="systemFiles.length == 0"
                                    ng-click="reviewSystem()">Xem trước
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    ng-disabled="systemFiles.length == 0"
                                    ng-click="removeAllFiles('system')">Xoá hết file
                            </button>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-3 mb-3" ng-if="systemFiles.length > 0">
                        <div class="col-12 col-md-10 col-lg-8 p-0">
                            <span class="text-dark fw-bold">Danh sách file đã chọn <small>({{systemFiles.length}} file)</small>: </span>
                            <div ng-repeat="file in systemFiles track by $index" style="">
                                <i class="fa-solid fa-file-excel text-success"></i>
                                {{ file.name }}
                                <i class="fa-solid fa-square-xmark text-danger" style="cursor: pointer"
                                   ng-click="removeFile('system', $index)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-12">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8 text-center p-0">
                            <h5 class="fw-bold" style="color: #012970;">FILE DỮ LIỆU ĐỐI CHIẾU</h5>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8 d-flex align-items-center justify-content-center p-0"
                             style="height: 10vh; border: 3px solid #012970; cursor: pointer;"
                             ng-click="triggerCompareFileInput()">
                            <span class="text-dark">Click vào đây để tải tệp lên (.xls, .xlsx, .xlsm, .csv)</span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-3 mb-3">
                        <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-between p-0">
                            <button class="btn btn-success btn-sm"
                                    ng-disabled="compareFiles.length == 0"
                                    ng-click="reviewCompare()">Xem trước
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    ng-disabled="compareFiles.length == 0"
                                    ng-click="removeAllFiles('compare')">Xoá hết file
                            </button>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-3 mb-3" ng-if="compareFiles.length > 0">
                        <div class="col-12 col-md-10 col-lg-8 p-0">
                            <span class="text-dark fw-bold">Danh sách file đã chọn <small>({{compareFiles.length}} file)</small>: </span>
                            <div ng-repeat="file in compareFiles track by $index" style="">
                                <i class="fa-solid fa-file-excel text-success"></i>
                                {{ file.name }}
                                <i class="fa-solid fa-square-xmark text-danger" style="cursor: pointer"
                                   ng-click="removeFile('compare', $index)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center">
                    <button class="btn btn-success btn-sm"
                            ng-disabled="systemFiles.length == 0 || compareFiles.length == 0"
                            ng-click="start()">Bắt đầu đối chiếu
                    </button>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center mt-4" ng-if="visibleResponse">
                <div class="col-12 text-center p-0">
                    <h5 class="fw-bold" style="color: #012970;">{{titleResponse}}</h5>
                </div>
                <div class="col-12 text-center p-0">
                    <small class="fw-bold" style="color: #012970;">Tỉ lệ thu phóng</small>
                </div>
                <div class="text-center mt-1" style="zoom: 0.8;">
                    <button class="btn btn-secondary btn-sm" ng-click="zoomOut()"><i class="fa-solid fa-minus"></i>
                    </button>
                    <span style="font-size: 12px; margin: 0 8px;">{{(zoomLevel * 100).toFixed(0)}}%</span>
                    <button class="btn btn-secondary btn-sm" ng-click="zoomIn()"><i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="mt-3 mb-3 table-responsive" id="table" ng-style="{'zoom': zoomLevel}">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr id="header-staff">
                            <th style="width: 3%;">#</th>
                            <th style="width: 10%;">Mã nhân viên</th>
                            <th style="width: 15%;">Tên nhân viên</th>
                            <th style="width: 2%;" ng-repeat="item in daysInMonthArray">{{item}}</th>
                            <th style="width: 5%;">Tổng công</th>
                        </tr>
                        </thead>
                        <tbody id="PT">
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center mb-3" ng-if="titleResponse === 'CÁC ĐỐI TƯỢNG ĐÁNG CHÚ Ý'">
                    <button class="btn btn-success btn-sm"
                            ng-disabled="selectedFiles.length == 0"
                            ng-click="export()">Xác nhận và tải về</button>
                </div>
                <hr>
            </div>
        </div>
        <!-- End Body -->
    </div>
</section>

<!-- FILE DỮ LIỆU HỆ THỐNG -->
<input type="file" id="systemFileInput" style="display: none;"
       multiple accept=".xls,.xlsx,.xlsm,.csv"
       onchange="angular.element(this).scope().handleSystemFile(this.files)"/>

<!-- FILE DỮ LIỆU ĐỐI CHIẾU -->
<input type="file" id="compareFileInput" style="display: none;"
       multiple accept=".xls,.xlsx,.xlsm,.csv"
       onchange="angular.element(this).scope().handleCompareFile(this.files)"/>


