<section class="section">
  <div class="card p-4 mb-0" style="border: none;">
    <!-- ======= Title ======= -->
    <small class="card-body p-0">
      <div class="pagetitle">
        <h1><i class="fa-solid fa-person-digging"></i>&ensp;Chuẩn hoá công</h1>
        <nav>
          <ol class="breadcrumb mt-1">
            <li class="breadcrumb-item">Trang chủ</li>
            <li class="breadcrumb-item active">Chuẩn hoá công</li>
          </ol>
        </nav>
      </div>
      <hr>
    </small>
    <!-- End Title -->

    <!-- ======= Body ======= -->
    <div class="card-body p-0">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center p-0">
          <h5 class="fw-bold" style="color: #012970;">UPLOAD FILE HỆ THỐNG TẠI ĐÂY</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 d-flex align-items-center justify-content-center p-0" style="height: 10vh; border: 3px solid #012970; cursor: pointer;" ng-click="triggerFileInput()">
          <span class="text-dark">Click vào đây để tải tệp lên (.xls, .xlsx, .xlsm, .csv)</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-3">
        <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-between p-0">
          <button class="btn btn-success btn-sm"
                  ng-disabled="selectedFiles.length == 0"
                  ng-click="start()">Bắt đầu</button>
          <button class="btn btn-danger btn-sm"
                  ng-disabled="selectedFiles.length == 0"
                  ng-click="removeAllFile()">Chọn lại</button>
        </div>
      </div>

    </div>
    <!-- End Body -->
  </div>
</section>



