<section class="section">
    <div class="card p-4 mb-0" style="border: none;">
        <!-- ======= Title ======= -->
        <small class="card-body p-0">
            <div class="pagetitle">
                <h1><i class="fa-solid fa-list-check"></i>&ensp;Tổng Hợp Công</h1>
                <nav>
                    <ol class="breadcrumb mt-1">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active">Tổng hợp công</li>
                    </ol>
                </nav>
            </div>
            <hr>
        </small>
        <!-- End Title -->

        <!-- ======= Body ======= -->
        <div class="card-body p-0">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 text-center p-0">
                    <h5 class="fw-bold" style="color: #012970;">UPLOAD FILE DỮ LIỆU ĐỂ TỔNG HỢP</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-5 col-md-3 col-lg-2 d-flex justify-content-center">

                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-12 col-md-8 col-lg-6 d-flex align-items-center justify-content-center p-0"
                     style="height: 10vh; border: 3px solid #012970; cursor: pointer;" ng-click="triggerFileInput()">
                    <span class="text-dark">Click vào đây để tải tệp lên (.xls, .xlsx, .xlsm, .csv)</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-3">
                <div class="col-12 col-md-8 col-lg-6 row d-flex justify-content-between p-0">
                    <button class="btn btn-danger btn-sm col-1"
                            ng-disabled="selectedFiles.length == 0"
                            ng-click="removeAllFile()"><i class="fa-solid fa-trash-can"></i>
                    </button>
                    <div class="col-3">
                        <select class="form-select form-select-sm fw-bold text-center bg-warning-light"
                                style="border: 3px solid black;"
                                id="shift" ng-model="selectedShift"
                                ng-options="shift.value as shift.label for shift in Shifts">
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="form-select form-select-sm fw-bold text-center" style="border: 3px solid black;"
                                id="month" ng-model="selectedMonth"
                                ng-options="month.value as month.label for month in months" ng-change="getDaysInMonth()">
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="form-select form-select-sm fw-bold text-center" style="border: 3px solid black;"
                                id="year" ng-model="selectedYear" ng-options="year.value as year.label for year in years"
                                ng-change="getDaysInMonth()">
                        </select>
                    </div>
                    <button class="btn btn-success btn-sm col-2"
                            ng-disabled="selectedFiles.length == 0"
                            ng-click="start()"><i class="fa-solid fa-play"></i>
                    </button>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-3" ng-if="selectedFiles.length > 0">
                <div class="col-12 col-md-8 col-lg-6 p-0">
                    <span class="text-dark fw-bold">Danh sách file đã chọn <small>({{selectedFiles.length}} file)</small>: </span>
                    <div ng-repeat="file in selectedFiles track by $index" style="">
                        <i class="fa-solid fa-file-excel text-success"></i>
                        {{ file.name }}
                        <i class="fa-solid fa-square-xmark text-danger" style="cursor: pointer"
                           ng-click="removeFile($index)"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Body -->
    </div>
</section>
