# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Các thư mục build của Maven và Gradle
target/
.gradle/
build/

# Các file nhạy cảm khác
.env
.DS_Store
